body {
    background: url('assets/background.png') no-repeat center fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Arial Rounded MT', sans-serif;
    text-align: center;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
}
.header img {
    height: 80px;
}
.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.menu a {
    padding: 30px 50px;
    width: 110px;
    color: #fff;
    border: 3px solid rgb(17, 17, 17);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.menu a.active {
    background-color: rgb(100, 0, 0);
}
.menu a:hover:not(.active) {
    background-color: rgb(25, 25, 25);
    border-radius: 15px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    animation: transitionIn 0.75s;
}
.main-container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    animation: transitionIn 0.75s;
}
.box {
    background-color: rgba(34, 34, 34, 0.4);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}
.welcome-section {
    margin-bottom: 50px;
}
.welcome-section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #ff0000;
    text-shadow: 0 0 80px #ff0000;
}
.welcome-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #fff;
}
.welcome-section p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    color: #aaa;
}
.info-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.info-box {
    width: 30%;
    padding: 20px;
}
.info-box i {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff0000;
}
.info-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff0000;
}
.info-box p {
    font-size: 1em;
    color: #aaa;
}
.policy-section {
    display: flex;
    justify-content: space-around;
}
.policy-box {
    width: 45%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.3);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.5);
}
.policy-box h3 {
    font-size: 1.5em;
    margin-top: 5px;
    color: #ff0000;
}
.policy-box p {
    font-size: 1em;
    color: #aaa;
}
.box2 {
    width: 40%;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.4);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 10px;
}
.box2 h2 {
    margin-bottom: 20px;
    color: #ff0000;
}
.box2 a {
    display: block;
    width: 100%;
    padding: 10px;
}
.credits, .character, .social {
    list-style: none;
    padding: 0;
}
.credits li, .character li, .social li {
    margin: 10px 0;
    background-color: rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.5);
}
.credits li a, .character li a, .social li a {
    padding: 10px 0;
    color: #fff;
    text-decoration: none; 
}
.credits li:hover, .character li:hover, .social li:hover {
    background-color: rgba(68, 68, 68, 0.4);
}